@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-dark-blue: #05101d;
  --primary-white: #ffffff;
  --secondary-dark-blue: #071525;
  --gradient-gold: linear-gradient(144.47deg, #ddbe77 16.13%, #876516 112.4%);
  --secondary-gray: #dbdde0;
  --emphasis-green: #06bba3;
  --emphasis-red: #d10000;
  --emphasis-red-dark: #990000;
  --emphasis-green-dark: #068170;
}

body {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  font-family: "Yantramanav", sans-serif;
}

.container{
  max-width: 1420px;
  margin: 0 auto;
}